@charset"utf-8";
main, header ,article{
    border: 1px solid black;
    /*Box sizing a barátod!!!!! használd ha nem fér bele valami a mainbe annak ellenére hogy beleférne*/
    box-sizing: border-box;
    padding: 5px;
    
}
body{
    background-color: pink;
}
main{
    background-color: yellow;
    max-width: 1200px;
    width: 80%;
    margin: auto;
}
article{
    background-color: white;
}
/*FLEXELÉS*/
main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
article{
    width:25%;
}
header{
    width: 100%;
}
@media screen and (max-width:600px){
main{
    flex-direction: column;
}
}