@charset"utf-8";
main, header ,article{
    border: 1px solid black;
    
}
body{
    background-color: pink;
}
main{
    background-color: yellow;
    max-width: 1200px;
    width: 80%;
    margin: auto;
}
article{
    background-color: white;
}